<?xml version="1.0" encoding="utf-8" ?>
<CachePolicys>
  <!-- the local cache policy-->
  <LocalCachePolicys>
    <!--Default policy can not be removed-->
    <LocalCachePolicy>
      <!-- the default local cache group name -->
      <PolicyName>Default</PolicyName>
      <!-- the expiration polling frequency (seconds) for cache elements.
           60 means it will check if any items expired every 60 seconds. -->
      <ExpiredSeconds>60</ExpiredSeconds>
      <!-- the maximun elements that the cache holds.
           the exceeded elements will be removed from cache by LRU algorithm based on expiration polling frequency. -->
      <MaxElements>150</MaxElements>
      <!-- the absolute expiration time(seconds).
           the elements will be removed from cache if absolute expiration time passed
           AbsoluteExpirationTimeInSecond=0 means no absolute expiration time-->
      <!--default 1 day-->
      <AbsoluteExpirationTimeInSecond>86400</AbsoluteExpirationTimeInSecond>
      <NumToRemoveWhileScavenging>10</NumToRemoveWhileScavenging>
    </LocalCachePolicy>
    <LocalCachePolicy>
      <!-- the default local cache group name -->
      <PolicyName>Token</PolicyName>
      <!-- the expiration polling frequency (seconds) for cache elements.
           60 means it will check if any items expired every 60 seconds. -->
      <ExpiredSeconds>60</ExpiredSeconds>
      <!-- the maximun elements that the cache holds.
           the exceeded elements will be removed from cache by LRU algorithm based on expiration polling frequency. -->
      <MaxElements>10000</MaxElements>
      <!-- the absolute expiration time(seconds).
           the elements will be removed from cache if absolute expiration time passed
           AbsoluteExpirationTimeInSecond=0 means no absolute expiration time-->
      <!--default 1 day-->
      <AbsoluteExpirationTimeInSecond>86400</AbsoluteExpirationTimeInSecond>
      <NumToRemoveWhileScavenging>10</NumToRemoveWhileScavenging>
    </LocalCachePolicy>
    <LocalCachePolicy>
      <PolicyName>UrlTransform</PolicyName>
      <ExpiredSeconds>60</ExpiredSeconds>
      <MaxElements>10000</MaxElements>
      <AbsoluteExpirationTimeInSecond>86400</AbsoluteExpirationTimeInSecond>
      <NumToRemoveWhileScavenging>500</NumToRemoveWhileScavenging>
    </LocalCachePolicy>
    <LocalCachePolicy>
      <PolicyName>NVelocity</PolicyName>
      <ExpiredSeconds>60</ExpiredSeconds>
      <MaxElements>1000</MaxElements>
      <AbsoluteExpirationTimeInSecond>86400</AbsoluteExpirationTimeInSecond>
      <NumToRemoveWhileScavenging>100</NumToRemoveWhileScavenging>
    </LocalCachePolicy>
  </LocalCachePolicys>
  <!-- the remote cache policy-->
  <RemoteCachePolicys>
    <!--Default policy can not be removed-->
    <RemoteCachePolicy>
      <!-- the default remote cache group name -->
      <PolicyName>Default</PolicyName>
      <CacheStoreName>ObjectStore</CacheStoreName>
      <!-- the absolute expiration time(seconds).
           the elements will be removed from cache if absolute expiration time passed
           AbsoluteExpirationTimeInSecond=0 means no absolute expiration time-->
      <!--default 1 day-->
      <AbsoluteExpirationTimeInSecond>86400</AbsoluteExpirationTimeInSecond>
    </RemoteCachePolicy>
    <RemoteCachePolicy>
      <PolicyName>Inventory</PolicyName>
      <CacheStoreName>ObjectStore</CacheStoreName>
      <!--Inventory cache on PDP 10 minuters expired-->
      <AbsoluteExpirationTimeInSecond>600</AbsoluteExpirationTimeInSecond>
    </RemoteCachePolicy>
    <RemoteCachePolicy>
      <PolicyName>Baskets</PolicyName>
      <CacheStoreName>ObjectStore</CacheStoreName>
      <!--Basket cache 1 day expired-->
      <AbsoluteExpirationTimeInSecond>86400</AbsoluteExpirationTimeInSecond>
    </RemoteCachePolicy>      
	  <RemoteCachePolicy>
    <PolicyName>Mercado</PolicyName>
    <SubGroup>6</SubGroup>
    <CacheStoreName>ObjectStore</CacheStoreName>
    <AbsoluteExpirationTimeInSecond>7200</AbsoluteExpirationTimeInSecond>
  </RemoteCachePolicy>
  </RemoteCachePolicys>
</CachePolicys>