<appSettings>
  <!-- Core Basedata -->
  <add key="DbTimeoutSecond" value="30"/>
  <!-- Web Logging -->
  <add key="ExceptionLogFolder" value="C:\ExceptionLog\Prototype"/>
  <add key="OutputError" value="Y"/>
  <add key="SiteEnvironment" value="sandbox"/>
  <add key="RecentRequestsSize" value="10"/>
  <!-- Forms Security -->
  <add key="DefaultOpenPage" value="~/Login.aspx"/>
  <!-- Cache Settings -->
  <add key="CacheSettingFile" value="/Config/CacheSettings.config"/>
  <add key="RemoteCacheMode" value="localcache"/>
  <!-- Memcached Server -->
  <add key="MemcachedServers" value="192.168.0.100:11211"/>
  <!-- Customer Error -->
  <add key="FatalErrorPage" value="/ErrorPage.htm"/>
  <!-- Scheduler -->
  <add key="JobStore" value="" />
  <add key="FailedNotifiedGroups" value="mort.zheng@suryani.cn,yandi.zheng@gmail.com"/>
  <add key="FailedNotifer" value="ActionCenter@QuaintHouse.com"/>
  <add key="ActionLogFolder" value="C:\ExceptionLog\Scheduler"/>
  <!-- Mail Setting -->
  <add key="SMTP_Host" value="smtp.gmail.com" />
  <add key="SMTP_Port" value="587"/>
  <add key="SMTP_UserName" value="mort.zheng.suryani@gmail.com" />
  <add key="SMTP_Password" value="zyd7535250" />
  <add key="SMTP_SSL" value="true"/>
</appSettings>