<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="ConnectionString"/>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="data source=dev.suryani.cn;initial catalog=1800DiapersNew;UID=dev;PWD=dev"/>
  </connectionStrings>
  <appSettings>
    <add key="DbTimeoutSecond" value="30"/>
    <add key="ExceptionLogFolder" value="\ExceptionLog"/>
    <add key="OutputError" value="Y"/>
    <add key="SiteEnvironment" value="sandbox"/>
    <add key="RecentRequestsSize" value="10"/>
    <add key="ElasticSearchClusterConfig" value="ElasticSearchCluster.config"/>
  </appSettings>
</configuration>