<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="webLoggingAppender" type="WebLogging.Appenders.ThreadLoggingAppender, WebLogging">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
    </layout>
  </appender>
  <appender name="GlobalFile" type="log4net.Appender.RollingFileAppender">
    <file value="Log Files/Global/log.txt"/>
    <appendToFile value="true"/>
    <maximumFileSize value="512KB" />
    <rollingStyle value="Date"/>
    <datePattern value="yyyyMMdd-HH"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
    </layout>
  </appender>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="webLoggingAppender"/>
  </root>
  <logger name="Global">
    <level value="DEBUG"/>
    <appender-ref ref="GlobalFile" />
  </logger>
</log4net>

