<?xml version="1.0" encoding="utf-8" ?>
<jobStore>
  <!-- Trigger type: 
  cron, 
  monthly : [dayOfMonth, hour, minute], 
  daily : [hour, minute], 
  hourly : [interval], 
  minutely : [interval], 
  secondly : [interval] 
  -->
  <jobs>
    <job name="sampleJob" enabled="false">
      <!-- ActionId -->
      <action>SampleAction</action>
      <!-- ClassType -->
      <type>Business.Schedule.SampleJob, Business</type>
      <!-- Trigger -->
      <trigger type="minutely" value="[2]" />
      <!-- Params -->
      <params>
        <param name="param1" value="sample" />
      </params>
    </job>
    <job name="ExceptionMailJob" enabled="true">
      <action>ExceptionMailAction</action>
      <type>Business.Schedule.ExceptionMailJob, Business</type>
      <trigger type="minutely" value="[2]" />
    </job>
  </jobs>
</jobStore>
