<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="ConnectionString"/>
  <appSettings file="Config\CommonSetting.config">
    <!--
      Site settings go here
      Framework settings maintain in Config\CommonSetting.config
    -->
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="data source=dev.suryani.cn;initial catalog=1800DiapersNew;Integrated Security=SSPI"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!-- Collaborate with CustomErrorPageModule -->
    <customErrors mode="Off" defaultRedirect="~/GlobalError.aspx">
      <error statusCode="400" redirect="~/PageNotFound.aspx?400;"/>
      <error statusCode="404" redirect="~/PageNotFound.aspx?404;"/>
      <error statusCode="500" redirect="~/ErrorPage.aspx?500;"/>
    </customErrors>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
      -->
    <sessionState mode="InProc" cookieless="false" timeout="2000"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <httpHandlers>
      <!--<remove verb="*" path="*.aspx"/>-->
      <!--<add verb="*" path="*.aspx" type="Web.Ioc.UnityHttpHandlerFactory"/>-->
    </httpHandlers>
    <httpModules>
      <!--<add name="loggingModule" type="Web.Log.LoggingModule, Web"/>-->
      <add name="webLogging" type="WebLogging.ThreadLoggingModule, WebLogging"/>
      <!--<add name="UrlRewriteModule" type="Web.UrlRewritter.UrlRewritterModule, Web"/>-->
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>